!!! 5

%html
  %head
    %title Trying Google Drive OCR
  %body
    %h1 Trying Google Drive OCR
  -unless current_user
    %a{:href =>  "#{auth_url}"} sign up your account
  -else 
    %a{:href =>  "file"} upload
    

